body {
  font-size: unset;
  padding-bottom: 25rem;
}

main {
  // base overrides
  height: unset;
  overflow: unset;
  padding: 0;
}

#Viewer {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  height: 100vh;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 999;

  button {
    position: absolute;
    right: 3rem;
    top: 3rem;
  }
}

#App {
  --dark: #eee;
  --lite: #fff;
  --small: 0.5rem;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
  position: relative;
  transform: scale(1);
  z-index: 1;

  a {
    background-color: var(--lite);
    border-radius: var(--small);
    box-shadow: inset 0 0 var(--small) silver;
    color: steelblue;
    display: block;
    line-height: 1.2;
    margin: var(--small) 0;
    padding: var(--small) calc(2 * var(--small));
    text-decoration: none;
  }

  i {
    font-size: 0.8rem;
    white-space: nowrap;
  }

  p {
    margin: 0;
  }

  .intervals_title {
    vertical-align: middle;
    white-space: nowrap;

    span {
      font-size: 1.5rem;
      transform: rotate(180deg);
      writing-mode: vertical-lr;
    }
  }

  .bigbtn {
    cursor: pointer;
    display: block;
    font-size: 1.5rem;
    line-height: 0;
    margin: 0;
    padding-right: var(--small);
    position: sticky;
    text-align: right;
    top: 1.5rem;
    z-index: 3;
  }

  &.ascending tr *:nth-child(3) {
    display: none;
  }

  &.descending tr *:nth-child(2) {
    display: none;
  }

  table {
    border-collapse: collapse;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
    position: relative;
    width: 100%;

    tr:nth-child(even) > * {
      background-color: var(--dark);
    }

    tbody tr:last-child td {
      padding-bottom: 5rem;
    }

    td,
    th {
      background-color: var(--lite);
      color: steelblue;
      padding: var(--small);
      text-align: center;
      vertical-align: top;
    }

    thead th {
      background-color: var(--dark);
      padding: 1rem 0 1rem 1rem;
      position: sticky;
      text-align: left;
      top: 0;
      z-index: 2;
    }
  }
}
